/* подключение шрифтов */

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/georgia.ttf);
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 700;
  src: url(../../assets/fonts/georgia_bolditalic.ttf);
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/arialmt.ttf);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 700;
  src: url(../../assets/fonts/arial_bolditalicmt.ttf);
}

/* подключение цветовых стилей */

:root {
  --peachPrimary: #f1cdb3;
  --peachLight: #fddcc4;

  --whiteLightXL: #ffffff;

  --grayLightS: #fafafa;
  --grayLightL: #f6f6f6;

  --grayDarkS: #cdcdcd;
  --grayDarkM: #b2b2b2;
  --grayDarkL: #545454;
  --grayDarkXL: #4c4c4c;
  --grayDark2XL: #444444;
  --grayDark3XL: #292929;

  --start-screen-gradient: radial-gradient(#5b483a, #262425);
  --footer-gradient: radial-gradient(#513d2f, #1a1a1c);
}

/* GENERAL PROPERTIES */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  outline: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Arial";
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: var(--grayDarkXL);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  text-decoration: none;
}

h3,
.data-wrapper {
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.title {
  font-size: 35px;
  line-height: 46px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-family: "Georgia";
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: var(--grayDark3XL);
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
}

/* SECTION HEADER */

.header {
  background-color: var(--whiteLightXL);
  background-size: 100%;
  height: 60px;
  padding: 30px;
}

.header-logo-title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: var(--grayDarkL);
  padding-top: 1px;
}

.header-logo-title:hover {
  color: var(--peachPrimary);
}

.header-logo-subtitle {
  font-family: "Arial";
  font-size: 13px;
  letter-spacing: 0.113em;
  color: var(--grayDark3XL);
}

.header-logo-subtitle:hover {
  color: var(--peachPrimary);
}

.header-logo-wrapper > li {
  padding: 0;
}

.header-logo-wrapper > li:last-child {
  margin: 0;
  padding: 5px 0 0 0;
}

.header-logo > li > a {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 60px;
}

@media screen and (max-width: 1260px) and (min-width: 750px) {
  /* GENERAL-768 */

  .wrapper {
    margin: 0 30px;
  }

  /* section HEADER-768 */

  .header-wrapper {
    margin: 0;
  }

  li.header-item {
    margin-right: 35px;
  }

  .header-item > a {
    letter-spacing: 0.015em;
  }

  li.header-item:last-child {
    margin-right: 0px;
  }

  /* section OUR-PETS-768 */

  h2.pets-content-title {
    padding: 80px 0 28px 0;
  }

  div.offers-pets-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, 435px);
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    /* проверить можно ли пользоваться hidden */
  }
  .hidden {
    display: none;
  }

  /* PAGINATION */

  div.pagination-wrapper {
    padding: 40px 0 76px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* section FOOTER-768 */

  div.footer-wrapper {
    position: relative;
    padding: 30px 0 0 0;
  }

  div.footer-grid {
    grid-template-columns: 280px 300px;
    grid-template-rows: auto auto auto;
    column-gap: 60px;
    row-gap: 31px;
    margin: 0 auto;
    width: 640px;
    padding-bottom: 316px;
  }

  .footer-grid > h2.title {
    margin: 0;
  }

  .footer-image {
    position: absolute;
    bottom: 0;
    left: 30%;
  }
}

/* finish ADAPTIVE-768 */

.header-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-list {
  display: flex;
  flex-wrap: nowrap;
}

.header-item {
  letter-spacing: 0.006em;
  margin-right: 37px;
  padding-bottom: 3px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  color: var(--grayDarkL);
  margin: 0 auto;
}

.header-link:active {
  color: var(--grayDarkL);
  border-bottom: 3px solid var(--peachPrimary);
}

.header-link:hover {
  color: var(--grayDark3XL);
}

.header-item > .disabled {
  color: var(--grayDark3XL);
  border-bottom: 3px solid var(--peachPrimary);
  pointer-events: none;
}

/*  SECTION PETS-ABOUT*/

.pets-content-wrapper {
  background-color: var(--grayLightL);
  background-size: 100%;
  justify-content: center;
  text-align: center;
}

.offers-pets-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 435px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pets-content-title {
  padding: 80px 0 59px 0;

  /* а нужно 60 */
}

.pet-card {
  background-color: var(--grayLightS);
  height: 435px;
}

/* добавить скругление углов в самой карточке */

/* кнопки пагинации */

.pagination-wrapper {
  padding: 60px 0 96px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-wrapper > .btn-round:last-child {
  margin-right: 0;
}

.btn-round {
  width: 48px;
  height: 48px;
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  border-radius: 100px;
  margin-right: 20px;
  align-content: center;
}

.inactive {
  color: var(--grayDarkS);
  border: 2px solid var(--grayDarkS);
  background: transparent;
  pointer-events: none;
}

.here {
  color: var(--grayDark3XL);
  background-color: var(--peachPrimary);
  border: none;
}

.active {
  color: var(--grayDark3XL);
  background-color: transparent;
  border: 2px solid var(--peachPrimary);
}

.here {
  border: 2px solid var(--peachPrimary);
}

.btn-round > a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: 2px;
  text-align: center;
}

.btn-secondary {
  display: inline-block;
  align-content: center;
  width: 183px;
  height: 48px;
  border-radius: 100px;
  text-decoration: none;
  border: 2px solid var(--peachPrimary);
}

.btn-secondary:hover {
  background-color: var(--peachLight);
  border: 2px solid var(--peachLight);
  transition: 1s;
}

.btn-round:hover {
  background-color: var(--peachLight);
  border: 2px solid var(--peachLight);
  transition: 1s;
}

.pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  padding: 0px 0;
  margin: 22px 0 30px 0;
}

.btn-primary {
  display: inline-block;
  margin-bottom: 98px;
}

/* растягиваем ссылку на всю карточку блок our-friens + footer + кнопки пагинации */

.pet-card,
.data-wrapper,
.btn-round {
  position: relative;
}

.pet-card > a::before,
.data-wrapper > a::before,
.btn-round > a::before {
  position: absolute;
  content: "";
  inset: 0;
}

/* секция footer */

.footer-wrapper {
  background: url(../../assets/images/footer-gradient-background.jpg) no-repeat
    center;
  background-size: cover;
}

.footer-wrapper {
  position: relative;
  padding: 40px 0 0 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: 280px 300px 300px;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  grid-column: 4;
  width: 1200px;
  column-gap: 160px;
  row-gap: 32px;
}

.footer-image {
  grid-row: span 3;
}

.footer-grid > h2 {
  color: var(--whiteLightXL);
  margin: 16px 0 0 0;
}

.data-wrapper {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.data-wrapper > img {
  height: 32px;
  width: auto;
  padding-right: 20px;
}

.data-wrapper > a {
  color: var(--peachPrimary);
  text-decoration: none;
}

.data-wrapper > a:hover {
  color: var(--peachLight);
}

.phone-data,
.adsress-data-2 {
  padding-bottom: 60px;
}
