html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
  /* запрет скролла для модального окна */
}

* {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: 0.3s;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 10em);
  grid-template-rows: repeat(3, 10em);
  gap: 1em;
  width: 32em;
  height: 32em;
  border: 1em solid rgb(4, 9, 248);
  margin: 2em auto;
  background-color: rgb(4, 9, 248);
}

.data-cell {
  font-size: 1em;
  width: 10em;
  height: 10em;
  background-color: #fff;
  border: 0.03em solid black;
}

tr {
  border-bottom: 0.1em solid black;
  text-align: center;
}

td {
  width: 10em;
  height: 2em;
}

.player-name {
  width: 15em;
}

tr:nth-child(even) {
  background-color: rgb(255, 233, 252);
}

tr:nth-child(odd) {
  background-color: rgb(196, 253, 255);
}

th {
  background-color: rgb(143, 143, 255);
  color: #fff;
  height: 2em;
}

.modal-welcome-window {
  display: block;
}

.hidden {
  display: none;
}

.able-scroll {
  overflow: visible;
}

.overlay-off {
  position: absolute;
  transition: all 1s;
  background: rgba(0, 0, 0, 0);
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal-welcome-window {
  position: absolute;
  background-color: var(--whiteLightXL);
  /* font-family: "Georgia"; */
  background-color: #fff;
  color: black;
  z-index: 55;
  width: 500px;
  height: 500px;
  border-radius: 9px 9px 9px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-welcome-window > h2 {
  font-size: 2em;
  margin-bottom: 2em;
}

form > span {
  font-size: 1.5em;
  display: block;
  margin-bottom: 1em;
}

input {
  margin: 1em auto;
  width: 20em;
  height: 3em;
  font-size: large;
}

button {
  display: block;
  width: 20em;
  height: 3em;
}
