/* подключение шрифтов */

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/georgia.ttf);
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 700;
  src: url(../../assets/fonts/georgia_bolditalic.ttf);
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/arialmt.ttf);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 700;
  src: url(../../assets/fonts/arial_bolditalicmt.ttf);
}

/* подключение цветовых стилей */

:root {
  font-size: 15px;

  --peachPrimary: #f1cdb3;
  --peachLight: #fddcc4;

  --whiteLightXL: #ffffff;

  --grayLightS: #fafafa;
  --grayLightL: #f6f6f6;

  --grayDarkS: #cdcdcd;
  --grayDarkM: #b2b2b2;
  --grayDarkL: #545454;
  --grayDarkXL: #4c4c4c;
  --grayDark2XL: #444444;
  --grayDark3XL: #292929;

  --start-screen-gradient: radial-gradient(#5b483a, #262425);
  --footer-gradient: radial-gradient(#513d2f, #1a1a1c);
}

/* Общие свойства */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Arial";
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: var(--grayDarkXL);
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* настройка header */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.header-list {
  display: flex;
  flex-wrap: nowrap;
}

.header-item {
  margin-right: 47px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-logo {
  padding-left: 0;
}

.header-logo-title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: var(--peachPrimary);
  text-decoration: none;
  padding-left: 0;
}

.header-logo-subtitle {
  font-family: "Arial";
  font-size: 13px;
  letter-spacing: 0.01em;
  color: var(--whiteLightXL);
  text-decoration: none;
}

.header-link {
  color: var(--grayDarkS);
  text-decoration: none;
  height: 24px;
  padding-bottom: 5px;
}

.header-link:active {
  color: var(--grayLightS);
  border-bottom: 3px solid var(--peachPrimary);
}

.header-link:hover {
  color: var(--grayLightS);
  height: 24px;
  text-decoration: none;
}

.header-item > .disabled {
  color: var(--grayLightS);
  border-bottom: 3px solid var(--peachPrimary);
  pointer-events: none;
}

/* настройка баннера главного экрана */

.start-screen {
  height: 1071px;
  background: url(../../assets/images/start-screen-gradient-background.jpg)
    no-repeat center;
  background-size: cover;
  padding-top: 343px;
}

.banner-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: var(--whiteLightXL);
  margin: 0 0 42px 0;
  max-width: 310px;
}

.banner-story {
  margin: 0 0 42px 0;
  max-width: 460px;
  color: var(--grayDarkS);
}

.btn-primary {
  font-family: "Georgia";
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: var(--grayDark3XL);
  margin: 0 auto;
  background-color: var(--peachPrimary);
  padding: 16px 52px;
  border-radius: 100px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--peachLight);
  transition: 1s;
}

.start-screen-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

/* секция about */

.about-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 0;
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-size: 35px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  margin: 0;
}

.about-content {
  max-width: 430px;
  margin-bottom: 25px;
  margin-left: 120px;
}

.about-content:last-child {
  margin-bottom: 0;
}

/* секция о животных в поиске дома */

.pets-content-wrapper {
  background-color: var(--grayLightL);
  background-size: 100%;
  justify-content: center;
  text-align: center;
}
.offers-pets-wrapper {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pets-content-title {
  padding-top: 80px;
  padding-bottom: 60px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 90px 0;
}

.pet-card {
  background-color: var(--grayLightS);
  height: 435px;
}

.btn-arrow {
  padding: 12.5px 14px;
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: var(--grayDark3XL);
  border-radius: 100px;
  text-decoration: none;
  border: 2px solid var(--peachPrimary);
}

.btn-arrow:hover {
  background-color: var(--peachLight);
  border: none;
  transition: 1s;
}

.btn-secondary {
  font-family: "Georgia";
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: var(--grayDark3XL);
  margin: 0 auto;
  padding: 16px 52px;
  border-radius: 100px;
  text-decoration: none;
  border: 2px solid var(--peachPrimary);
}

.btn-secondary:hover {
  background-color: var(--peachLight);
  border: none;
  transition: 1s;
}

.pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  padding: 20px 0;
  margin: 0 0 30px 0;
}

.slider {
  position: relative;
  margin-bottom: 60px;
}

.btn-primary {
  display: inline-block;
  margin-bottom: 98px;
}

/* растягиваем ссылку на всю карточку блок our-friens + help/donation + footer */

.pet-card,
.credit-card-wrap,
.data-wrapper {
  position: relative;
}

.pet-card > a::before,
.credit-card-wrap > a::before,
.data-wrapper > a::before {
  position: absolute;
  content: "";
  inset: 0;
}

/* секция о помощи */

.help-content-wrapper {
  position: relative;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.grid-row-1 {
  max-width: 113px;
  display: grid;
  grid-template-columns: 83px 150px 60px 154px 101px;
  text-align: center;
  column-gap: 120px;
  margin-bottom: 55px;
  margin-left: 87px;
}

.grid-row-2 {
  max-width: 113px;
  display: grid;
  grid-template-columns: 89px 101px 165px 147px;
  text-align: center;
  column-gap: 120px;
  margin-left: 190px;
  padding-bottom: 90px;
}

.wish-item > h3 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  margin: 30px 0 0 0;
}

.help-content-wrapper > h2 {
  padding-top: 90px;
  padding-bottom: 60px;
  text-align: center;
}

/* секция donation */

.donation-wrapper {
  background-color: var(--grayLightL);
  background-size: 100%;
  padding: 90px 0;
}

.donation-content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.donation-content > h4 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  margin: 20px 0;
}

.credit-card-wrap {
  display: inline-flex;
  border-radius: 9px;
  background-color: var(--peachPrimary);
  padding: 10px 15px;
}

.credit-card-wrap > a {
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--grayDarkL);
  margin-left: 15px;
  text-decoration: none;
}

.donation-content > p {
  font-family: "Arial";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--grayDarkM);
  margin-top: 20px;
  max-width: 380px;
}

.donation-content {
  margin-left: 30px;
}

/* секция footer */

.footer-wrapper {
  background: url(../../assets/images/footer-gradient-background.jpg) no-repeat
    center;
  background-size: cover;
}

.footer-wrapper {
  position: relative;
  padding: 40px 0 0 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: 280px 300px 300px;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  grid-column: 4;
  width: 1200px;
  column-gap: 160px;
  row-gap: 32px;
}

.footer-image {
  grid-row: span 3;
}

.data-wrapper {
  display: inline-flex;
  align-items: center;
}

.data-wrapper > img {
  height: 32px;
  width: auto;
  padding-right: 20px;
}

.data-wrapper > a {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--peachPrimary);
  text-decoration: none;
}

/* доработать стили почистить h3 по тексту*/

.footer-grid > h3 {
  color: var(--whiteLightXL);
  margin: 16px 0 0 0;
}

.phone-data,
.adsress-data-2 {
  padding-bottom: 60px;
}
